PORT=5000
CLIENT_URL=http://localhost:3000
MONGODB_URI='mongodb+srv://abhishekkumarr1106:Q5wgVDdyNscxpMYP@cluster0.fgrhgq0.mongodb.net/?appName=Cluster0'
JWT_SECRET=8f7a91c2e6b44a0d9c3f1e8b7a5d2c6f9e4a1b8c
JWT_EXPIRES_IN=7d
NODE_ENV=development

